{
  "name": "2_voice_different_tokens_pilot",
  "notes": "First run of two voices with different tokens for initial and repeat presentations",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=24A01D7E",
  "experiment_URL": "https://willclapp.github.io/episodic-encoding/2_voices/index.html"
}